In [1]:
import pandas as pd

In [2]:
wine = pd.read_excel("97_points_wine_data_sorted.xlsx")

In [3]:
wine.head()

  country  points  price    province             variety       winery
0      US      97     85  Washington  Cabernet Sauvignon        Abeja
1      US      97    130  California  Cabernet Sauvignon  Alpha Omega
2   Italy      97    125     Tuscany          Sangiovese     Altesino
3   Italy      97    115     Tuscany           Red Blend     Antinori
4      US      97     90  California          Pinot Noir       Arista

In [4]:
wine.columns

Index(['country', 'points', 'price', 'province', 'variety', 'winery'], dtype='object')

In [5]:
clean_wine = wine.loc[:, ["price", "points", "variety", "winery", "province", "country"]]
clean_wine

     price  points             variety           winery    province country
0       85      97  Cabernet Sauvignon            Abeja  Washington      US
1      130      97  Cabernet Sauvignon      Alpha Omega  California      US
2      125      97          Sangiovese         Altesino     Tuscany   Italy
3      115      97           Red Blend         Antinori     Tuscany   Italy
4       90      97          Pinot Noir           Arista  California      US
..     ...     ...                 ...              ...         ...     ...
182     82      97          Pinot Noir  Williams Selyem  California      US
183     85      97          Pinot Noir  Williams Selyem  California      US
184     95      97          Pinot Noir  Williams Selyem  California      US
185    125      97          Pinot Noir  Williams Selyem  California      US
186    625      97  Cabernet Sauvignon         Yao Ming  California      US

[187 rows x 6 columns]

In [6]:
final = clean_wine.copy()

In [8]:
final["lat"] = ""

In [9]:
final["lng"] = ""

In [10]:
final.head()

   price  points             variety       winery    province country lat lng
0     85      97  Cabernet Sauvignon        Abeja  Washington      US
1    130      97  Cabernet Sauvignon  Alpha Omega  California      US
2    125      97          Sangiovese     Altesino     Tuscany   Italy
3    115      97           Red Blend     Antinori     Tuscany   Italy
4     90      97          Pinot Noir       Arista  California      US

In [11]:
final

,price,points,variety,winery,province,country,lat,lng
0,85,97,Cabernet Sauvignon,Abeja,Washington,US,,
1,130,97,Cabernet Sauvignon,Alpha Omega,California,US,,
2,125,97,Sangiovese,Altesino,Tuscany,Italy,,
3,115,97,Red Blend,Antinori,Tuscany,Italy,,
4,90,97,Pinot Noir,Arista,California,US,,
...,...,...,...,...,...,...,...,...
182,82,97,Pinot Noir,Williams Selyem,California,US,,
183,85,97,Pinot Noir,Williams Selyem,California,US,,
184,95,97,Pinot Noir,Williams Selyem,California,US,,
185,125,97,Pinot Noir,Williams Selyem,California,US,,
186,625,97,Cabernet Sauvignon,Yao Ming,California,US,,

In [12]:
final.to_csv("cleaned_data.csv")