In [7]:
import pandas as pd

In [ ]:
#importing our dataset and initial analysis of what we're working with

In [22]:
df = pd.read_csv('winemag-data-130k-v2 (1).csv')

In [23]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [24]:
df.describe()

          Unnamed: 0         points          price
count  129971.000000  129971.000000  120975.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      41.022218
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      17.000000
50%     64985.000000      88.000000      25.000000
75%     97477.500000      91.000000      42.000000
max    129970.000000     100.000000    3300.000000

In [25]:
len(df)

129971

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

In [68]:
df.shape

(129971, 14)

In [26]:
df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [27]:
#count NA objects 
df.isna().sum()

Unnamed: 0                   0
country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

In [29]:
df.groupby('country')['description'].count()

country
Argentina                  3800
Armenia                       2
Australia                  2329
Austria                    3345
Bosnia and Herzegovina        2
Brazil                       52
Bulgaria                    141
Canada                      257
Chile                      4472
China                         1
Croatia                      73
Cyprus                       11
Czech Republic               12
Egypt                         1
England                      74
France                    22093
Georgia                      86
Germany                    2165
Greece                      466
Hungary                     146
India                         9
Israel                      505
Italy                     19540
Lebanon                      35
Luxembourg                    6
Macedonia                    12
Mexico                       70
Moldova                      59
Morocco                      28
New Zealand                1419
Peru                         16
Portugal                   5691
Romania                     120
Serbia                       12
Slovakia                      1
Slovenia                     87
South Africa               1401
Spain                      6645
Switzerland                   7
Turkey                       90
US                        54504
Ukraine                      14
Uruguay                     109
Name: description, dtype: int64

In [30]:
df.groupby('region_1')['description'].count()

region_1
Abruzzo                  6
Adelaida District      110
Adelaide                16
Adelaide Hills         107
Adelaide Plains          4
                      ...
Yolo County             47
York Mountain            9
Yorkville Highlands     79
Yountville              92
Zonda Valley             3
Name: description, Length: 1229, dtype: int64

In [31]:
#count of all the people and their number of judged tastings 
df.groupby('taster_name')['description'].count()

taster_name
Alexander Peartree      415
Anna Lee C. Iijima     4415
Anne Krebiehl MW       3685
Carrie Dykes            139
Christina Pickard         6
Fiona Adams              27
Jeff Jenssen            491
Jim Gordon             4177
Joe Czerwinski         5147
Kerin O’Keefe         10776
Lauren Buzzeo          1835
Matt Kettmann          6332
Michael Schachner     15134
Mike DeSimone           514
Paul Gregutt           9532
Roger Voss            25514
Sean P. Sullivan       4966
Susan Kostrzewa        1085
Virginie Boone         9537
Name: description, dtype: int64

In [32]:
df.groupby('variety')['description'].count()

variety
Abouriou          3
Agiorgitiko      63
Aglianico       359
Aidani            1
Airen             3
               ...
Zinfandel      2714
Zlahtina          2
Zweigelt        209
Çalkarası         2
Žilavka           1
Name: description, Length: 707, dtype: int64

In [33]:
df.groupby('winery')['description'].count()

winery
1+1=3                   6
10 Knots                4
100 Percent Wine        3
1000 Stories            2
1070 Green              1
                       ..
Órale                   1
Öko                     2
Ökonomierat Rebholz     4
àMaurice               40
Štoka                   3
Name: description, Length: 16757, dtype: int64

In [34]:
df['price'].mean()

35.363389129985535

In [35]:
df['price'].min()

4.0

In [36]:
df['price'].max()

3300.0

In [37]:
df['points'].mean()

88.44713820775404

In [38]:
df['points'].min()

80

In [39]:
df['points'].max()

100

In [40]:
len(df)

129971

In [ ]:
#mySQL connection

In [27]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.22-cp38-cp38-win_amd64.whl (842 kB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.14.0-py2.py3-none-any.whl (173 kB)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.22 protobuf-3.14.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
import mysql.connector
from mysql.connector import Error

In [9]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [10]:
connection = create_server_connection('localhost','root','root')

MySQL Database connection successful

In [11]:
cursor = connection.cursor()

In [12]:
cursor.execute("CREATE DATABASE teamd3_wine_db")

In [14]:
cursor.execute("SHOW DATABASES")

for x in cursor: 
    print(x)

('adg',)
('assign',)
('binpacking',)
('cheetahrunning',)
('cheetahrunning_short',)
('etl_project',)
('final',)
('information_schema',)
('knapsack',)
('movies',)
('mst_dt',)
('mst_fast',)
('mysql',)
('nasdaq1',)
('performance_schema',)
('project_2',)
('project_fact',)
('sql-challenge',)
('sys',)
('teamd3_wine_db',)
('ww_final',)
('zagi_dw',)

In [44]:
cursor.execute("USE teamd3_wine_db")

In [45]:
cursor.execute("CREATE TABLE wine (wine_entry_id INT AUTO_INCREMENT PRIMARY KEY, price INT, points INT, variety varchar(100), winery varchar(100), province varchar(100), country varchar(100), lat FLOAT (10,7), lng FLOAT (10,7))")

In [66]:
for index,row in final_df.iterrows(): 
    sql = "INSERT INTO wine (price,points,variety,winery,province,country,lat,lng) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)" 
    price = row['price']
    points = row['points']
    variety = row['variety']
    winery = row['winery']
    province = row['province']
    country = row['country']
    lat = row['lat']
    lng = row['lng']
    
    val = (price,points,variety,winery,province,country,lat,lng)
    print(val)

    cursor.execute(sql,val)
    connection.commit()

(85, 97, 'Cabernet Sauvignon', 'Abeja', 'Washington', 'US', 46.08734896, -118.2255228)
(130, 97, 'Cabernet Sauvignon', 'Alpha Omega', 'California', 'US', 38.47070948, -122.4284246)
(125, 97, 'Sangiovese', 'Altesino', 'Tuscany', 'Italy', 43.10272554, 11.49138268)
(115, 97, 'Red Blend', 'Antinori', 'Tuscany', 'Italy', 43.61275733, 11.19130707)
(90, 97, 'Pinot Noir', 'Arista', 'California', 'US', 38.52421475, -122.8679891)
(120, 97, 'Bordeaux-style Red Blend', 'Arkenstone', 'California', 'US', 38.56499553, -122.463911)
(250, 97, 'Cabernet Sauvignon', 'Au Sommet', 'California', 'US', 38.44352341, -122.2425097)
(170, 97, 'White Blend', 'Avignonesi', 'Tuscany', 'Italy', 43.17419131, 11.93445678)
(55, 97, 'Cabernet Sauvignon', 'Betz Family', 'Washington', 'US', 47.71924333, -122.1314005)
(60, 97, 'Cabernet Sauvignon', 'Betz Family', 'Washington', 'US', 47.71924333, -122.1314005)
(68, 97, 'Cabernet Sauvignon', 'Betz Family', 'Washington', 'US', 47.71924333, -122.1314005)
(85, 97, 'Cabernet Sauvignon', 'Black Coyote', 'California', 'US', 38.31977903, -122.2256801)
(90, 97, 'Bordeaux-style Red Blend', 'Blackbird Vineyards', 'California', 'US', 38.29946003, -122.2806237)
(120, 97, 'Malbec', 'Bodega Catena Zapata', 'Mendoza Province', 'Argentina', -33.16668614, -68.9024718)
(88, 97, 'Monastrell', 'Bodegas Gutiérrez de la Vega', 'Levante', 'Spain', 39.6824, 2.7168)
(250, 97, 'Tempranillo', 'Bodegas Roda', 'Northern Spain', 'Spain', 42.585859, -2.843271134)
(260, 97, 'Champagne Blend', 'Bollinger', 'Champagne', 'France', 49.07818462, 3.9650023)
(275, 97, 'Bordeaux-style Red Blend', 'BOND', 'California', 'US', 38.5109751, -122.400027)
(55, 97, 'Red Blend', 'Buty', 'Washington', 'US', 46.08780245, -118.2698039)
(85, 97, 'Muscat', 'Campbells', 'Victoria', 'Australia', -36.0608846, 146.4359125)
(97, 97, 'Muscat', 'Campbells', 'Victoria', 'Australia', -36.0608846, 146.4359125)
(85, 97, 'Tokay', 'Campbells', 'Victoria', 'Australia', -36.0608846, 146.4359125)
(55, 97, 'Sangiovese Grosso', 'Capanna', 'Tuscany', 'Italy', 43.9834924, 11.33687136)
(250, 97, 'Cabernet Sauvignon', 'Cardinale', 'California', 'US', 38.92189815, -119.2958656)
(79, 97, 'Sangiovese Grosso', 'Casanova di Neri', 'Tuscany', 'Italy', 43.0579881, 11.52638883)
(80, 97, 'Sangiovese Grosso', 'Casanova di Neri', 'Tuscany', 'Italy', 43.0579881, 11.52638883)
(180, 97, 'Merlot', 'Castello di Ama', 'Tuscany', 'Italy', 43.44227222, 11.38822241)
(130, 97, 'Cabernet Sauvignon', 'Caymus', 'California', 'US', 38.47039817, -122.3943474)
(136, 97, 'Cabernet Sauvignon', 'Caymus', 'California', 'US', 38.47039817, -122.3943474)
(80, 97, 'Cabernet Sauvignon', 'Cayuse', 'Oregon', 'US', 45.96229531, -118.4233261)
(70, 97, 'Syrah', 'Cayuse', 'Oregon', 'US', 45.96229531, -118.4233261)
(85, 97, 'Syrah', 'Cayuse', 'Oregon', 'US', 45.96229531, -118.4233261)
(145, 97, 'Bordeaux-style Red Blend', "ChÃƒÂ¢teau Cos d'Estournel", 'Bordeaux', 'France', 45.2315, -0.7727)
(90, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Figeac', 'Bordeaux', 'France', 44.9135, -0.1903)
(330, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Haut-Brion', 'Bordeaux', 'France', 44.8117, -0.5964)
(1100, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau La Mission Haut-Brion', 'Bordeaux', 'France', 44.8169, -0.6057)
(698, 97, 'Bordeaux-style White Blend', 'ChÃƒÂ¢teau La Mission Haut-Brion', 'Bordeaux', 'France', 44.8169, -0.6057)
(150, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau LÃƒÂ©oville Las Cases', 'Bordeaux', 'France', 45.1647, -0.7378)
(190, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau LÃƒÂ©oville Las Cases', 'Bordeaux', 'France', 45.1647, -0.7378)
(345, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Lafite Rothschild', 'Bordeaux', 'France', 45.2258, -0.7716)
(660, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Latour', 'Bordeaux', 'France', 42.7678, 2.6601)
(300, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Margaux', 'Bordeaux', 'France', 45.046, -0.6634)
(450, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Margaux', 'Bordeaux', 'France', 45.046, -0.6634)
(90, 97, 'Bordeaux-style White Blend', 'ChÃƒÂ¢teau Suduiraut', 'Bordeaux', 'France', 44.5569, -0.3174)
(170, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Troplong Mondot', 'Bordeaux', 'France', 44.8901, -0.1394)
(300, 97, 'Muscadel', 'Chambers Rosewood Vineyards', 'Victoria', 'Australia', -36.04395429, 146.4518399)
(120, 97, 'Syrah', 'Charles Smith', 'Washington', 'US', 47.6927088, -121.889555)
(85, 97, 'Pinot Noir', 'Cobb', 'California', 'US', 38.39782588, -122.9956279)
(140, 97, 'Bordeaux-style Red Blend', 'Continuum', 'California', 'US', 38.48371951, -122.3516986)
(175, 97, 'Cabernet Sauvignon', 'Diamond Creek', 'California', 'US', 38.56564614, -122.5717237)
(281, 97, 'Pinot Noir', 'Domaine Bruno Clair', 'Burgundy', 'France', 47.27268571, 4.992398316)
(100, 97, 'Bordeaux-style White Blend', 'Domaine de Chevalier', 'Bordeaux', 'France', 44.72051243, -0.62955804)
(96, 97, 'Syrah', 'Domaine Jamet', 'RhÃƒÂ´ne Valley', 'France', 45.51654152, 4.795032606)
(410, 97, 'Chardonnay', 'Domaine Leflaive', 'Burgundy', 'France', 46.38243825, 4.800586439)
(430, 97, 'Chardonnay', 'Domaine Leflaive', 'Burgundy', 'France', 46.38243825, 4.800586439)
(451, 97, 'Chardonnay', 'Domaine Leflaive', 'Burgundy', 'France', 46.38243825, 4.800586439)
(550, 97, 'Chardonnay', 'Domaine Leflaive', 'Burgundy', 'France', 46.38243825, 4.800586439)
(574, 97, 'Chardonnay', 'Domaine Leflaive', 'Burgundy', 'France', 46.38243825, 4.800586439)
(269, 97, 'Pinot Gris', 'Domaine Zind-Humbrecht', 'Alsace', 'France', 48.08431564, 7.297189002)
(250, 97, 'Riesling', 'Dr. Pauly Bergweiler', 'Mosel-Saar-Ruwer', 'Germany', 49.9153787, 7.076114103)
(50, 97, 'Chardonnay', 'Dutton-Goldfield', 'California', 'US', 38.43796177, -122.8546855)
(150, 97, 'Tinto Fino', 'Emilio Moro', 'Northern Spain', 'Spain', 41.643583, -4.148166242)
(180, 97, 'Tinto Fino', 'Emilio Moro', 'Northern Spain', 'Spain', 41.643583, -4.148166242)
(42, 97, 'Chardonnay', 'Failla', 'California', 'US', 38.54902401, -122.4887117)
(60, 97, 'Pinot Noir', 'Failla', 'California', 'US', 38.54902401, -122.4887117)
(70, 97, 'Pinot Noir', 'Failla', 'California', 'US', 38.54902401, -122.4887117)
(100, 97, 'Merlot', 'Fattoria Petrolo', 'Tuscany', 'Italy', 43.47147682, 11.57255227)
(70, 97, 'Chardonnay', 'Flowers', 'California', 'US', 38.56495179, -122.8705598)
(210, 97, 'Nebbiolo', 'Gaja', 'Piedmont', 'Italy', 44.72612919, 8.081014048)
(215, 97, 'Nebbiolo', 'Gaja', 'Piedmont', 'Italy', 44.72612919, 8.081014048)
(190, 97, 'Cabernet Sauvignon', 'Gandona', 'California', 'US', 38.48365694, -122.3542277)
(245, 97, 'Riesling', 'Geh. Rat Dr. von Bassermann-Jordan', 'Pfalz', 'Germany', 49.40865649, 8.187311218)
(75, 97, 'Pinot Noir', 'Goldeneye', 'California', 'US', 39.05830256, -123.4301938)
(85, 97, 'Cabernet Sauvignon', 'Goldschmidt', 'California', 'US', 38.67399686, -122.9228972)
(150, 97, 'Bordeaux-style Red Blend', 'Harlan Estate', 'California', 'US', 38.42121153, -122.3987013)
(185, 97, 'Champagne Blend', 'Henriot', 'Champagne', 'France', 52.90459241, 37.79277402)
(100, 97, 'Cabernet Sauvignon', 'Hestan', 'California', 'US', 38.40362137, -122.3606952)
(189, 97, 'Sparkling Blend', 'Iron Horse', 'California', 'US', 38.45692312, -122.897417)
(135, 97, 'Cabernet Sauvignon', 'Janzen', 'California', 'US', 38.46661863, -122.4241577)
(130, 97, 'Cabernet Sauvignon', 'Jarvis', 'California', 'US', 38.3555672, -122.2143398)
(150, 97, 'Cabernet Sauvignon', 'JCB', 'California', 'US', 38.40537104, -122.3443186)
(639, 97, 'Pinot Noir', 'Joseph Drouhin', 'Burgundy', 'France', 47.02609549, 4.846734081)
(200, 97, 'Bordeaux-style Red Blend', 'Joseph Phelps', 'California', 'US', 38.50331256, -122.4249774)
(200, 97, 'Bordeaux-style Red Blend', 'Joseph Phelps', 'California', 'US', 38.50331256, -122.4249774)
(225, 97, 'Cabernet Sauvignon', 'Joseph Phelps', 'California', 'US', 38.50331256, -122.4249774)
(52, 97, 'Pinot Noir', 'Joseph Swan Vineyards', 'California', 'US', 38.48388036, -122.8469136)
(70, 97, 'Syrah', 'K Vintners', 'Washington', 'US', 46.08601174, -118.249623)
(65, 97, 'Pinot Noir', 'Ken Wright', 'Oregon', 'US', 45.29509004, -123.174571)
(125, 97, 'Bordeaux-style Red Blend', 'Kendall-Jackson', 'California', 'US', 38.50734388, -122.7699726)
(90, 97, 'Chardonnay', 'Kracher', 'Burgenland', 'Austria', 47.74538559, 16.82944551)
(111, 97, 'Chardonnay', 'Kracher', 'Burgenland', 'Austria', 47.74538559, 16.82944551)
(125, 97, 'Scheurebe', 'Kracher', 'Burgenland', 'Austria', 47.74538559, 16.82944551)
(70, 97, 'Cabernet Sauvignon', 'Krutz', 'California', 'US', 38.47212396, -122.7396835)
(65, 97, 'Cabernet Sauvignon', 'Lancaster', 'California', 'US', 38.62625124, -122.7717756)
(130, 97, 'Cabernet Franc', 'Le Macchiole', 'Tuscany', 'Italy', 43.20830884, 10.61385053)
(315, 97, 'Merlot', 'Le Macchiole', 'Tuscany', 'Italy', 43.20830884, 10.61385053)
(160, 97, 'Syrah', 'Le Macchiole', 'Tuscany', 'Italy', 43.20830884, 10.61385053)
(110, 97, 'Cabernet Blend', 'Leonetti Cellar', 'Washington', 'US', 46.0568156, -118.2927756)
(85, 97, 'Cabernet Sauvignon', 'Leonetti Cellar', 'Washington', 'US', 46.0568156, -118.2927756)
(88, 97, 'Cabernet Sauvignon', 'Leonetti Cellar', 'Washington', 'US', 46.0568156, -118.2927756)
(90, 97, 'Picolit', 'Livio Felluga', 'Northeastern Italy', 'Italy', 45.97306392, 13.46012344)
(330, 97, 'Chardonnay', 'Louis Jadot', 'Burgundy', 'France', 47.03813452, 4.843854417)
(95, 97, 'Pinot Noir', 'Louis Jadot', 'Burgundy', 'France', 47.03813452, 4.843854417)
(260, 97, 'Pinot Noir', 'Louis Jadot', 'Burgundy', 'France', 47.03813452, 4.843854417)
(288, 97, 'Pinot Noir', 'Louis Jadot', 'Burgundy', 'France', 47.03813452, 4.843854417)
(300, 97, 'Pinot Noir', 'Louis Jadot', 'Burgundy', 'France', 47.03813452, 4.843854417)
(468, 97, 'Pinot Noir', 'Louis Jadot', 'Burgundy', 'France', 47.03813452, 4.843854417)
(229, 97, 'Champagne Blend', 'Louis Roederer', 'Champagne', 'France', 49.2600713, 4.03623673)
(249, 97, 'Champagne Blend', 'Louis Roederer', 'Champagne', 'France', 49.2600713, 4.03623673)
(93, 97, 'Sangiovese Grosso', 'Luce della Vite', 'Tuscany', 'Italy', 43.039298, 11.40836358)
(70, 97, 'Pinot Noir', 'Lynmar', 'California', 'US', 38.44277463, -122.8428991)
(100, 97, 'Pinot Noir', 'Lynmar', 'California', 'US', 38.44277463, -122.8428991)
(95, 97, 'Red Blend', 'Marchesi Antinori', 'Tuscany', 'Italy', 43.6156271, 11.19246156)
(102, 97, 'Red Blend', 'Marchesi Antinori', 'Tuscany', 'Italy', 43.6156271, 11.19246156)
(325, 97, 'Red Blend', 'Marchesi Antinori', 'Tuscany', 'Italy', 43.6156271, 11.19246156)
(100, 97, 'Sangiovese', "Marchesi de' Frescobaldi", 'Tuscany', 'Italy', 43.67171614, 11.09578328)
(550, 97, 'Merlot', 'Masseto', 'Tuscany', 'Italy', 43.16029828, 10.61057222)
(52, 97, 'Pinot Noir', 'Melville', 'California', 'US', 34.74260093, -120.1597425)
(54, 97, 'Pinot Noir', 'Merry Edwards', 'California', 'US', 38.43548475, -122.8538718)
(90, 97, 'Cabernet Sauvignon', 'Napa Angel', 'California', 'US', 38.36928997, -122.3240387)
(100, 97, 'Red Blend', 'Niebaum-Coppola', 'California', 'US', 38.45032528, -122.4331933)
(80, 97, 'Port', 'Niepoort', 'Portugal', 'Portugal', 41.14903878, -7.640096596)
(95, 97, 'Port', 'Niepoort', 'Port', 'Portugal', 41.14903878, -7.640096596)
(240, 97, 'Red Blend', 'Ornellaia', 'Tuscany', 'Italy', 43.21423701, 10.61907412)
(195, 97, 'Bordeaux-style Red Blend', 'Ovid', 'California', 'US', 38.46152313, -122.3403535)
(150, 97, 'Cabernet Sauvignon', 'Paul Hobbs', 'California', 'US', 38.44058414, -122.8552125)
(225, 97, 'Cabernet Sauvignon', 'Penfolds', 'South Australia', 'Australia', -34.44207772, 139.105445)
(150, 97, 'Shiraz', 'Penfolds', 'South Australia', 'Australia', -34.44207772, 139.105445)
(600, 97, 'Shiraz', 'Penfolds', 'South Australia', 'Australia', -34.44207772, 139.105445)
(275, 97, 'Champagne Blend', 'Pol Roger', 'Champagne', 'France', 49.04067091, 3.964082419)
(95, 97, 'Cabernet Sauvignon', 'Quilceda Creek', 'Washington', 'US', 47.94927689, -122.0773571)
(100, 97, 'Portuguese Red', 'Quinta do Vale MeÃƒÂ£o', 'Douro', 'Portugal', 41.1544, -7.1179)
(95, 97, 'Syrah', 'QupÃƒÂ©', 'California', 'US', 38.5132, -122.7887)
(65, 97, 'Chardonnay', 'Ramey', 'California', 'US', 38.60411277, -122.8605049)
(65, 97, 'Cabernet Sauvignon', 'Redmon', 'California', 'US', 38.50059129, -122.455054)
(120, 97, 'Red Blend', 'Ridge', 'California', 'US', 37.35117714, -122.0178084)
(612, 97, 'Riesling', 'Robert Weil', 'Rheingau', 'Germany', 50.04160091, 8.089119871)
(60, 97, 'Chardonnay', 'Rochioli', 'California', 'US', 38.53590477, -122.8651521)
(350, 97, 'Chardonnay', 'Salon', 'Champagne', 'France', 48.94659767, 4.018617369)
(65, 97, 'Tempranillo Blend', 'San Vicente', 'Northern Spain', 'Spain', 42.56417081, -2.755098863)
(445, 97, 'Riesling', 'Schloss Johannisberger', 'Rheingau', 'Germany', 50.0005233, 7.986676949)
(486, 97, 'Riesling', 'Schloss Johannisberger', 'Rheingau', 'Germany', 50.0005233, 7.986676949)
(175, 97, 'Champagne Blend', 'Schramsberg', 'California', 'US', 38.55018599, -122.5344506)
(80, 97, 'Pinot Noir', 'Sea Smoke', 'California', 'US', 34.68159628, -120.3731923)
(85, 97, 'Pinot Noir', 'Semper', 'California', 'US', 38.5824621, -122.5596265)
(50, 97, 'Pinot Noir', 'Sequana', 'California', 'US', 38.40777745, -122.8352222)
(190, 97, 'Cabernet Sauvignon', 'Shafer', 'California', 'US', 38.42169313, -122.3247343)
(225, 97, 'Cabernet Sauvignon', 'Shafer', 'California', 'US', 38.42169313, -122.3247343)
(110, 97, 'Bordeaux-style Red Blend', 'Signorello', 'California', 'US', 38.37127037, -122.2938366)
(130, 97, 'Cabernet Sauvignon', 'Spottswoode', 'California', 'US', 38.50058173, -122.4772277)
(195, 97, 'Cabernet Sauvignon', "Stag's Leap Wine Cellars", 'California', 'US', 38.41470807, -122.3183922)
(75, 97, 'Cabernet Sauvignon', 'Stonestreet', 'California', 'US', 38.66321899, -122.8138768)
(70, 97, 'Pinot Noir', 'Talley', 'California', 'US', 35.17945694, -120.5214585)
(225, 97, 'Port', 'Taylor Fladgate', 'Port', 'Portugal', 41.13446893, -8.612741987)
(240, 97, 'Merlot', "Tenuta dell'Ornellaia", 'Tuscany', 'Italy', 43.04635261, 11.49918565)
(460, 97, 'Merlot', "Tenuta dell'Ornellaia", 'Tuscany', 'Italy', 43.04635261, 11.49918565)
(200, 97, 'Red Blend', "Tenuta dell'Ornellaia", 'Tuscany', 'Italy', 43.04635261, 11.49918565)
(200, 97, 'Red Blend', "Tenuta dell'Ornellaia", 'Tuscany', 'Italy', 43.04635261, 11.49918565)
(215, 97, 'Red Blend', "Tenuta dell'Ornellaia", 'Tuscany', 'Italy', 43.04635261, 11.49918565)
(240, 97, 'Red Blend', "Tenuta dell'Ornellaia", 'Tuscany', 'Italy', 43.04635261, 11.49918565)
(190, 97, 'Red Blend', 'Tenuta San Guido', 'Tuscany', 'Italy', 43.23241505, 10.60063566)
(220, 97, 'Red Blend', 'Tenuta San Guido', 'Tuscany', 'Italy', 43.23241505, 10.60063566)
(227, 97, 'Red Blend', 'Tenuta San Guido', 'Tuscany', 'Italy', 43.23241505, 10.60063566)
(227, 97, 'Tinta de Toro', 'Teso La Monja', 'Northern Spain', 'Spain', 41.45564496, -5.445155256)
(150, 97, 'Bordeaux-style Red Blend', 'The Maiden', 'California', 'US', 43.23240723, 10.6005391)
(105, 97, 'Shiraz', 'Torbreck', 'South Australia', 'Australia', -34.47631789, 138.9526178)
(50, 97, 'Cabernet Sauvignon', 'Trefethen', 'California', 'US', 38.35671114, -122.3226488)
(350, 97, 'Merlot', 'Tua Rita', 'Tuscany', 'Italy', 43.06422453, 10.69156402)
(130, 97, 'Sangiovese', 'Valdicava', 'Tuscany', 'Italy', 43.07698994, 11.49259244)
(208, 97, 'Champagne Blend', 'Veuve Clicquot Ponsardin', 'Champagne', 'France', 48.24164583, 5.118783267)
(150, 97, 'Tempranillo', 'ViÃƒÂ±edos de Paganos', 'Northern Spain', 'Spain', 42.55790582, -2.605660358)
(130, 97, 'Nebbiolo', 'Vietti', 'Piedmont', 'Italy', 44.62450726, 7.981125138)
(130, 97, 'Bordeaux-style Red Blend', 'Vieux ChÃƒÂ¢teau Certan', 'Bordeaux', 'France', 44.9271, -0.1974)
(150, 97, 'Cabernet Sauvignon', 'Vine Cliff', 'California', 'US', 38.44790421, -122.3482437)
(250, 97, 'Riesling', 'Von Othegraven', 'Mosel-Saar-Ruwer', 'Germany', 49.6710893, 6.580581356)
(100, 97, 'Red Blend', 'Von Strasser', 'California', 'US', 38.58786385, -122.572344)
(95, 97, 'Chardonnay', 'William FÃƒÂ¨vre', 'Burgundy', 'France', 47.81366047, 3.803967328)
(50, 97, 'Chardonnay', 'Williams Selyem', 'California', 'US', 38.52118296, -122.8661558)
(59, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.52118296, -122.8661558)
(72, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.52118296, -122.8661558)
(75, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.52118296, -122.8661558)
(78, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.52118296, -122.8661558)
(82, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.52118296, -122.8661558)
(85, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.52118296, -122.8661558)
(95, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.52118296, -122.8661558)
(125, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.52118296, -122.8661558)
(625, 97, 'Cabernet Sauvignon', 'Yao Ming', 'California', 'US', 38.28844511, -122.2894188)

In [58]:
final_df.dtypes

price         int64
points        int64
variety      object
winery       object
province     object
country      object
lat         float64
lng         float64
dtype: object

In [67]:
cursor.execute("SELECT * FROM wine")
result = cursor.fetchall()

for x in result: 
    print(x)

(1, 85, 97, 'Cabernet Sauvignon', 'Abeja', 'Washington', 'US', 46.0873489, -118.2255249)
(2, 130, 97, 'Cabernet Sauvignon', 'Alpha Omega', 'California', 'US', 38.4707108, -122.428421)
(3, 125, 97, 'Sangiovese', 'Altesino', 'Tuscany', 'Italy', 43.102726, 11.4913826)
(4, 115, 97, 'Red Blend', 'Antinori', 'Tuscany', 'Italy', 43.6127586, 11.1913071)
(5, 90, 97, 'Pinot Noir', 'Arista', 'California', 'US', 38.5242157, -122.8679886)
(6, 120, 97, 'Bordeaux-style Red Blend', 'Arkenstone', 'California', 'US', 38.5649948, -122.463913)
(7, 250, 97, 'Cabernet Sauvignon', 'Au Sommet', 'California', 'US', 38.4435234, -122.2425079)
(8, 170, 97, 'White Blend', 'Avignonesi', 'Tuscany', 'Italy', 43.1741905, 11.9344568)
(9, 55, 97, 'Cabernet Sauvignon', 'Betz Family', 'Washington', 'US', 47.7192421, -122.1314011)
(10, 60, 97, 'Cabernet Sauvignon', 'Betz Family', 'Washington', 'US', 47.7192421, -122.1314011)
(11, 68, 97, 'Cabernet Sauvignon', 'Betz Family', 'Washington', 'US', 47.7192421, -122.1314011)
(12, 85, 97, 'Cabernet Sauvignon', 'Black Coyote', 'California', 'US', 38.3197784, -122.2256775)
(13, 90, 97, 'Bordeaux-style Red Blend', 'Blackbird Vineyards', 'California', 'US', 38.2994614, -122.2806244)
(14, 120, 97, 'Malbec', 'Bodega Catena Zapata', 'Mendoza Province', 'Argentina', -33.166687, -68.9024734)
(15, 85, 97, 'Cabernet Sauvignon', 'Abeja', 'Washington', 'US', 46.0873489, -118.2255249)
(16, 130, 97, 'Cabernet Sauvignon', 'Alpha Omega', 'California', 'US', 38.4707108, -122.428421)
(17, 125, 97, 'Sangiovese', 'Altesino', 'Tuscany', 'Italy', 43.102726, 11.4913826)
(18, 115, 97, 'Red Blend', 'Antinori', 'Tuscany', 'Italy', 43.6127586, 11.1913071)
(19, 90, 97, 'Pinot Noir', 'Arista', 'California', 'US', 38.5242157, -122.8679886)
(20, 120, 97, 'Bordeaux-style Red Blend', 'Arkenstone', 'California', 'US', 38.5649948, -122.463913)
(21, 250, 97, 'Cabernet Sauvignon', 'Au Sommet', 'California', 'US', 38.4435234, -122.2425079)
(22, 170, 97, 'White Blend', 'Avignonesi', 'Tuscany', 'Italy', 43.1741905, 11.9344568)
(23, 55, 97, 'Cabernet Sauvignon', 'Betz Family', 'Washington', 'US', 47.7192421, -122.1314011)
(24, 60, 97, 'Cabernet Sauvignon', 'Betz Family', 'Washington', 'US', 47.7192421, -122.1314011)
(25, 68, 97, 'Cabernet Sauvignon', 'Betz Family', 'Washington', 'US', 47.7192421, -122.1314011)
(26, 85, 97, 'Cabernet Sauvignon', 'Black Coyote', 'California', 'US', 38.3197784, -122.2256775)
(27, 90, 97, 'Bordeaux-style Red Blend', 'Blackbird Vineyards', 'California', 'US', 38.2994614, -122.2806244)
(28, 120, 97, 'Malbec', 'Bodega Catena Zapata', 'Mendoza Province', 'Argentina', -33.166687, -68.9024734)
(29, 85, 97, 'Cabernet Sauvignon', 'Abeja', 'Washington', 'US', 46.0873489, -118.2255249)
(30, 130, 97, 'Cabernet Sauvignon', 'Alpha Omega', 'California', 'US', 38.4707108, -122.428421)
(31, 125, 97, 'Sangiovese', 'Altesino', 'Tuscany', 'Italy', 43.102726, 11.4913826)
(32, 115, 97, 'Red Blend', 'Antinori', 'Tuscany', 'Italy', 43.6127586, 11.1913071)
(33, 90, 97, 'Pinot Noir', 'Arista', 'California', 'US', 38.5242157, -122.8679886)
(34, 120, 97, 'Bordeaux-style Red Blend', 'Arkenstone', 'California', 'US', 38.5649948, -122.463913)
(35, 250, 97, 'Cabernet Sauvignon', 'Au Sommet', 'California', 'US', 38.4435234, -122.2425079)
(36, 170, 97, 'White Blend', 'Avignonesi', 'Tuscany', 'Italy', 43.1741905, 11.9344568)
(37, 55, 97, 'Cabernet Sauvignon', 'Betz Family', 'Washington', 'US', 47.7192421, -122.1314011)
(38, 60, 97, 'Cabernet Sauvignon', 'Betz Family', 'Washington', 'US', 47.7192421, -122.1314011)
(39, 68, 97, 'Cabernet Sauvignon', 'Betz Family', 'Washington', 'US', 47.7192421, -122.1314011)
(40, 85, 97, 'Cabernet Sauvignon', 'Black Coyote', 'California', 'US', 38.3197784, -122.2256775)
(41, 90, 97, 'Bordeaux-style Red Blend', 'Blackbird Vineyards', 'California', 'US', 38.2994614, -122.2806244)
(42, 120, 97, 'Malbec', 'Bodega Catena Zapata', 'Mendoza Province', 'Argentina', -33.166687, -68.9024734)
(43, 88, 97, 'Monastrell', 'Bodegas Gutiérrez de la Vega', 'Levante', 'Spain', 39.6823997, 2.7168)
(44, 250, 97, 'Tempranillo', 'Bodegas Roda', 'Northern Spain', 'Spain', 42.5858574, -2.843271)
(45, 260, 97, 'Champagne Blend', 'Bollinger', 'Champagne', 'France', 49.078186, 3.9650023)
(46, 275, 97, 'Bordeaux-style Red Blend', 'BOND', 'California', 'US', 38.5109749, -122.4000244)
(47, 55, 97, 'Red Blend', 'Buty', 'Washington', 'US', 46.0878029, -118.2698059)
(48, 85, 97, 'Muscat', 'Campbells', 'Victoria', 'Australia', -36.0608864, 146.4359131)
(49, 97, 97, 'Muscat', 'Campbells', 'Victoria', 'Australia', -36.0608864, 146.4359131)
(50, 85, 97, 'Tokay', 'Campbells', 'Victoria', 'Australia', -36.0608864, 146.4359131)
(51, 55, 97, 'Sangiovese Grosso', 'Capanna', 'Tuscany', 'Italy', 43.9834938, 11.3368711)
(52, 250, 97, 'Cabernet Sauvignon', 'Cardinale', 'California', 'US', 38.9218979, -119.2958679)
(53, 79, 97, 'Sangiovese Grosso', 'Casanova di Neri', 'Tuscany', 'Italy', 43.0579872, 11.5263891)
(54, 80, 97, 'Sangiovese Grosso', 'Casanova di Neri', 'Tuscany', 'Italy', 43.0579872, 11.5263891)
(55, 180, 97, 'Merlot', 'Castello di Ama', 'Tuscany', 'Italy', 43.4422722, 11.3882227)
(56, 130, 97, 'Cabernet Sauvignon', 'Caymus', 'California', 'US', 38.4703979, -122.3943481)
(57, 136, 97, 'Cabernet Sauvignon', 'Caymus', 'California', 'US', 38.4703979, -122.3943481)
(58, 80, 97, 'Cabernet Sauvignon', 'Cayuse', 'Oregon', 'US', 45.9622955, -118.4233246)
(59, 70, 97, 'Syrah', 'Cayuse', 'Oregon', 'US', 45.9622955, -118.4233246)
(60, 85, 97, 'Syrah', 'Cayuse', 'Oregon', 'US', 45.9622955, -118.4233246)
(61, 145, 97, 'Bordeaux-style Red Blend', "ChÃƒÂ¢teau Cos d'Estournel", 'Bordeaux', 'France', 45.2314987, -0.7727)
(62, 90, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Figeac', 'Bordeaux', 'France', 44.9135017, -0.1903)
(63, 330, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Haut-Brion', 'Bordeaux', 'France', 44.8116989, -0.5964)
(64, 1100, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau La Mission Haut-Brion', 'Bordeaux', 'France', 44.8168983, -0.6057)
(65, 698, 97, 'Bordeaux-style White Blend', 'ChÃƒÂ¢teau La Mission Haut-Brion', 'Bordeaux', 'France', 44.8168983, -0.6057)
(66, 150, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau LÃƒÂ©oville Las Cases', 'Bordeaux', 'France', 45.1646996, -0.7378)
(67, 190, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau LÃƒÂ©oville Las Cases', 'Bordeaux', 'France', 45.1646996, -0.7378)
(68, 345, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Lafite Rothschild', 'Bordeaux', 'France', 45.2257996, -0.7716)
(69, 660, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Latour', 'Bordeaux', 'France', 42.7677994, 2.6601)
(70, 300, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Margaux', 'Bordeaux', 'France', 45.0460014, -0.6634)
(71, 450, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Margaux', 'Bordeaux', 'France', 45.0460014, -0.6634)
(72, 90, 97, 'Bordeaux-style White Blend', 'ChÃƒÂ¢teau Suduiraut', 'Bordeaux', 'France', 44.5569, -0.3174)
(73, 170, 97, 'Bordeaux-style Red Blend', 'ChÃƒÂ¢teau Troplong Mondot', 'Bordeaux', 'France', 44.8900986, -0.1394)
(74, 300, 97, 'Muscadel', 'Chambers Rosewood Vineyards', 'Victoria', 'Australia', -36.0439529, 146.4518433)
(75, 120, 97, 'Syrah', 'Charles Smith', 'Washington', 'US', 47.6927071, -121.8895569)
(76, 85, 97, 'Pinot Noir', 'Cobb', 'California', 'US', 38.3978271, -122.9956284)
(77, 140, 97, 'Bordeaux-style Red Blend', 'Continuum', 'California', 'US', 38.4837189, -122.3516998)
(78, 175, 97, 'Cabernet Sauvignon', 'Diamond Creek', 'California', 'US', 38.5656471, -122.5717239)
(79, 281, 97, 'Pinot Noir', 'Domaine Bruno Clair', 'Burgundy', 'France', 47.272686, 4.9923983)
(80, 100, 97, 'Bordeaux-style White Blend', 'Domaine de Chevalier', 'Bordeaux', 'France', 44.7205124, -0.629558)
(81, 96, 97, 'Syrah', 'Domaine Jamet', 'RhÃƒÂ´ne Valley', 'France', 45.5165405, 4.7950325)
(82, 410, 97, 'Chardonnay', 'Domaine Leflaive', 'Burgundy', 'France', 46.3824387, 4.8005862)
(83, 430, 97, 'Chardonnay', 'Domaine Leflaive', 'Burgundy', 'France', 46.3824387, 4.8005862)
(84, 451, 97, 'Chardonnay', 'Domaine Leflaive', 'Burgundy', 'France', 46.3824387, 4.8005862)
(85, 550, 97, 'Chardonnay', 'Domaine Leflaive', 'Burgundy', 'France', 46.3824387, 4.8005862)
(86, 574, 97, 'Chardonnay', 'Domaine Leflaive', 'Burgundy', 'France', 46.3824387, 4.8005862)
(87, 269, 97, 'Pinot Gris', 'Domaine Zind-Humbrecht', 'Alsace', 'France', 48.0843163, 7.2971892)
(88, 250, 97, 'Riesling', 'Dr. Pauly Bergweiler', 'Mosel-Saar-Ruwer', 'Germany', 49.9153786, 7.0761142)
(89, 50, 97, 'Chardonnay', 'Dutton-Goldfield', 'California', 'US', 38.4379616, -122.8546829)
(90, 150, 97, 'Tinto Fino', 'Emilio Moro', 'Northern Spain', 'Spain', 41.6435814, -4.1481662)
(91, 180, 97, 'Tinto Fino', 'Emilio Moro', 'Northern Spain', 'Spain', 41.6435814, -4.1481662)
(92, 42, 97, 'Chardonnay', 'Failla', 'California', 'US', 38.5490227, -122.4887085)
(93, 60, 97, 'Pinot Noir', 'Failla', 'California', 'US', 38.5490227, -122.4887085)
(94, 70, 97, 'Pinot Noir', 'Failla', 'California', 'US', 38.5490227, -122.4887085)
(95, 100, 97, 'Merlot', 'Fattoria Petrolo', 'Tuscany', 'Italy', 43.4714775, 11.5725527)
(96, 70, 97, 'Chardonnay', 'Flowers', 'California', 'US', 38.5649529, -122.8705597)
(97, 210, 97, 'Nebbiolo', 'Gaja', 'Piedmont', 'Italy', 44.7261276, 8.0810137)
(98, 215, 97, 'Nebbiolo', 'Gaja', 'Piedmont', 'Italy', 44.7261276, 8.0810137)
(99, 190, 97, 'Cabernet Sauvignon', 'Gandona', 'California', 'US', 38.4836578, -122.3542252)
(100, 245, 97, 'Riesling', 'Geh. Rat Dr. von Bassermann-Jordan', 'Pfalz', 'Germany', 49.4086571, 8.1873112)
(101, 75, 97, 'Pinot Noir', 'Goldeneye', 'California', 'US', 39.0583038, -123.430191)
(102, 85, 97, 'Cabernet Sauvignon', 'Goldschmidt', 'California', 'US', 38.673996, -122.9228973)
(103, 150, 97, 'Bordeaux-style Red Blend', 'Harlan Estate', 'California', 'US', 38.4212112, -122.3987045)
(104, 185, 97, 'Champagne Blend', 'Henriot', 'Champagne', 'France', 52.9045906, 37.7927742)
(105, 100, 97, 'Cabernet Sauvignon', 'Hestan', 'California', 'US', 38.4036217, -122.3606949)
(106, 189, 97, 'Sparkling Blend', 'Iron Horse', 'California', 'US', 38.4569244, -122.8974152)
(107, 135, 97, 'Cabernet Sauvignon', 'Janzen', 'California', 'US', 38.4666176, -122.4241562)
(108, 130, 97, 'Cabernet Sauvignon', 'Jarvis', 'California', 'US', 38.3555679, -122.2143402)
(109, 150, 97, 'Cabernet Sauvignon', 'JCB', 'California', 'US', 38.4053726, -122.3443222)
(110, 639, 97, 'Pinot Noir', 'Joseph Drouhin', 'Burgundy', 'France', 47.0260963, 4.846734)
(111, 200, 97, 'Bordeaux-style Red Blend', 'Joseph Phelps', 'California', 'US', 38.5033112, -122.4249802)
(112, 200, 97, 'Bordeaux-style Red Blend', 'Joseph Phelps', 'California', 'US', 38.5033112, -122.4249802)
(113, 225, 97, 'Cabernet Sauvignon', 'Joseph Phelps', 'California', 'US', 38.5033112, -122.4249802)
(114, 52, 97, 'Pinot Noir', 'Joseph Swan Vineyards', 'California', 'US', 38.4838791, -122.8469162)
(115, 70, 97, 'Syrah', 'K Vintners', 'Washington', 'US', 46.08601, -118.2496262)
(116, 65, 97, 'Pinot Noir', 'Ken Wright', 'Oregon', 'US', 45.2950897, -123.1745682)
(117, 125, 97, 'Bordeaux-style Red Blend', 'Kendall-Jackson', 'California', 'US', 38.5073433, -122.7699738)
(118, 90, 97, 'Chardonnay', 'Kracher', 'Burgenland', 'Austria', 47.7453842, 16.8294449)
(119, 111, 97, 'Chardonnay', 'Kracher', 'Burgenland', 'Austria', 47.7453842, 16.8294449)
(120, 125, 97, 'Scheurebe', 'Kracher', 'Burgenland', 'Austria', 47.7453842, 16.8294449)
(121, 70, 97, 'Cabernet Sauvignon', 'Krutz', 'California', 'US', 38.4721222, -122.7396851)
(122, 65, 97, 'Cabernet Sauvignon', 'Lancaster', 'California', 'US', 38.6262512, -122.7717743)
(123, 130, 97, 'Cabernet Franc', 'Le Macchiole', 'Tuscany', 'Italy', 43.2083092, 10.6138506)
(124, 315, 97, 'Merlot', 'Le Macchiole', 'Tuscany', 'Italy', 43.2083092, 10.6138506)
(125, 160, 97, 'Syrah', 'Le Macchiole', 'Tuscany', 'Italy', 43.2083092, 10.6138506)
(126, 110, 97, 'Cabernet Blend', 'Leonetti Cellar', 'Washington', 'US', 46.0568161, -118.292778)
(127, 85, 97, 'Cabernet Sauvignon', 'Leonetti Cellar', 'Washington', 'US', 46.0568161, -118.292778)
(128, 88, 97, 'Cabernet Sauvignon', 'Leonetti Cellar', 'Washington', 'US', 46.0568161, -118.292778)
(129, 90, 97, 'Picolit', 'Livio Felluga', 'Northeastern Italy', 'Italy', 45.9730644, 13.4601231)
(130, 330, 97, 'Chardonnay', 'Louis Jadot', 'Burgundy', 'France', 47.0381355, 4.8438544)
(131, 95, 97, 'Pinot Noir', 'Louis Jadot', 'Burgundy', 'France', 47.0381355, 4.8438544)
(132, 260, 97, 'Pinot Noir', 'Louis Jadot', 'Burgundy', 'France', 47.0381355, 4.8438544)
(133, 288, 97, 'Pinot Noir', 'Louis Jadot', 'Burgundy', 'France', 47.0381355, 4.8438544)
(134, 300, 97, 'Pinot Noir', 'Louis Jadot', 'Burgundy', 'France', 47.0381355, 4.8438544)
(135, 468, 97, 'Pinot Noir', 'Louis Jadot', 'Burgundy', 'France', 47.0381355, 4.8438544)
(136, 229, 97, 'Champagne Blend', 'Louis Roederer', 'Champagne', 'France', 49.2600708, 4.0362368)
(137, 249, 97, 'Champagne Blend', 'Louis Roederer', 'Champagne', 'France', 49.2600708, 4.0362368)
(138, 93, 97, 'Sangiovese Grosso', 'Luce della Vite', 'Tuscany', 'Italy', 43.039299, 11.4083633)
(139, 70, 97, 'Pinot Noir', 'Lynmar', 'California', 'US', 38.4427757, -122.8428955)
(140, 100, 97, 'Pinot Noir', 'Lynmar', 'California', 'US', 38.4427757, -122.8428955)
(141, 95, 97, 'Red Blend', 'Marchesi Antinori', 'Tuscany', 'Italy', 43.6156273, 11.192462)
(142, 102, 97, 'Red Blend', 'Marchesi Antinori', 'Tuscany', 'Italy', 43.6156273, 11.192462)
(143, 325, 97, 'Red Blend', 'Marchesi Antinori', 'Tuscany', 'Italy', 43.6156273, 11.192462)
(144, 100, 97, 'Sangiovese', "Marchesi de' Frescobaldi", 'Tuscany', 'Italy', 43.6717148, 11.0957832)
(145, 550, 97, 'Merlot', 'Masseto', 'Tuscany', 'Italy', 43.1602974, 10.6105719)
(146, 52, 97, 'Pinot Noir', 'Melville', 'California', 'US', 34.7425995, -120.1597443)
(147, 54, 97, 'Pinot Noir', 'Merry Edwards', 'California', 'US', 38.4354858, -122.8538742)
(148, 90, 97, 'Cabernet Sauvignon', 'Napa Angel', 'California', 'US', 38.3692894, -122.3240356)
(149, 100, 97, 'Red Blend', 'Niebaum-Coppola', 'California', 'US', 38.450325, -122.433197)
(150, 80, 97, 'Port', 'Niepoort', 'Portugal', 'Portugal', 41.1490402, -7.6400967)
(151, 95, 97, 'Port', 'Niepoort', 'Port', 'Portugal', 41.1490402, -7.6400967)
(152, 240, 97, 'Red Blend', 'Ornellaia', 'Tuscany', 'Italy', 43.2142372, 10.6190739)
(153, 195, 97, 'Bordeaux-style Red Blend', 'Ovid', 'California', 'US', 38.461525, -122.3403549)
(154, 150, 97, 'Cabernet Sauvignon', 'Paul Hobbs', 'California', 'US', 38.4405823, -122.8552094)
(155, 225, 97, 'Cabernet Sauvignon', 'Penfolds', 'South Australia', 'Australia', -34.4420776, 139.1054382)
(156, 150, 97, 'Shiraz', 'Penfolds', 'South Australia', 'Australia', -34.4420776, 139.1054382)
(157, 600, 97, 'Shiraz', 'Penfolds', 'South Australia', 'Australia', -34.4420776, 139.1054382)
(158, 275, 97, 'Champagne Blend', 'Pol Roger', 'Champagne', 'France', 49.0406723, 3.9640825)
(159, 95, 97, 'Cabernet Sauvignon', 'Quilceda Creek', 'Washington', 'US', 47.949276, -122.0773544)
(160, 100, 97, 'Portuguese Red', 'Quinta do Vale MeÃƒÂ£o', 'Douro', 'Portugal', 41.1543999, -7.1178999)
(161, 95, 97, 'Syrah', 'QupÃƒÂ©', 'California', 'US', 38.5131989, -122.7886963)
(162, 65, 97, 'Chardonnay', 'Ramey', 'California', 'US', 38.6041145, -122.8605042)
(163, 65, 97, 'Cabernet Sauvignon', 'Redmon', 'California', 'US', 38.5005913, -122.4550552)
(164, 120, 97, 'Red Blend', 'Ridge', 'California', 'US', 37.3511772, -122.017807)
(165, 612, 97, 'Riesling', 'Robert Weil', 'Rheingau', 'Germany', 50.0415993, 8.0891199)
(166, 60, 97, 'Chardonnay', 'Rochioli', 'California', 'US', 38.5359039, -122.8651505)
(167, 350, 97, 'Chardonnay', 'Salon', 'Champagne', 'France', 48.9465981, 4.0186176)
(168, 65, 97, 'Tempranillo Blend', 'San Vicente', 'Northern Spain', 'Spain', 42.5641708, -2.7550988)
(169, 445, 97, 'Riesling', 'Schloss Johannisberger', 'Rheingau', 'Germany', 50.0005226, 7.9866767)
(170, 486, 97, 'Riesling', 'Schloss Johannisberger', 'Rheingau', 'Germany', 50.0005226, 7.9866767)
(171, 175, 97, 'Champagne Blend', 'Schramsberg', 'California', 'US', 38.5501862, -122.5344543)
(172, 80, 97, 'Pinot Noir', 'Sea Smoke', 'California', 'US', 34.6815948, -120.3731918)
(173, 85, 97, 'Pinot Noir', 'Semper', 'California', 'US', 38.5824623, -122.5596237)
(174, 50, 97, 'Pinot Noir', 'Sequana', 'California', 'US', 38.4077759, -122.8352203)
(175, 190, 97, 'Cabernet Sauvignon', 'Shafer', 'California', 'US', 38.4216919, -122.3247375)
(176, 225, 97, 'Cabernet Sauvignon', 'Shafer', 'California', 'US', 38.4216919, -122.3247375)
(177, 110, 97, 'Bordeaux-style Red Blend', 'Signorello', 'California', 'US', 38.3712692, -122.2938385)
(178, 130, 97, 'Cabernet Sauvignon', 'Spottswoode', 'California', 'US', 38.5005798, -122.4772263)
(179, 195, 97, 'Cabernet Sauvignon', "Stag's Leap Wine Cellars", 'California', 'US', 38.4147072, -122.3183899)
(180, 75, 97, 'Cabernet Sauvignon', 'Stonestreet', 'California', 'US', 38.6632195, -122.8138733)
(181, 70, 97, 'Pinot Noir', 'Talley', 'California', 'US', 35.1794586, -120.5214615)
(182, 225, 97, 'Port', 'Taylor Fladgate', 'Port', 'Portugal', 41.1344681, -8.6127424)
(183, 240, 97, 'Merlot', "Tenuta dell'Ornellaia", 'Tuscany', 'Italy', 43.0463524, 11.4991856)
(184, 460, 97, 'Merlot', "Tenuta dell'Ornellaia", 'Tuscany', 'Italy', 43.0463524, 11.4991856)
(185, 200, 97, 'Red Blend', "Tenuta dell'Ornellaia", 'Tuscany', 'Italy', 43.0463524, 11.4991856)
(186, 200, 97, 'Red Blend', "Tenuta dell'Ornellaia", 'Tuscany', 'Italy', 43.0463524, 11.4991856)
(187, 215, 97, 'Red Blend', "Tenuta dell'Ornellaia", 'Tuscany', 'Italy', 43.0463524, 11.4991856)
(188, 240, 97, 'Red Blend', "Tenuta dell'Ornellaia", 'Tuscany', 'Italy', 43.0463524, 11.4991856)
(189, 190, 97, 'Red Blend', 'Tenuta San Guido', 'Tuscany', 'Italy', 43.2324142, 10.6006355)
(190, 220, 97, 'Red Blend', 'Tenuta San Guido', 'Tuscany', 'Italy', 43.2324142, 10.6006355)
(191, 227, 97, 'Red Blend', 'Tenuta San Guido', 'Tuscany', 'Italy', 43.2324142, 10.6006355)
(192, 227, 97, 'Tinta de Toro', 'Teso La Monja', 'Northern Spain', 'Spain', 41.4556465, -5.4451551)
(193, 150, 97, 'Bordeaux-style Red Blend', 'The Maiden', 'California', 'US', 43.2324066, 10.6005392)
(194, 105, 97, 'Shiraz', 'Torbreck', 'South Australia', 'Australia', -34.4763184, 138.9526215)
(195, 50, 97, 'Cabernet Sauvignon', 'Trefethen', 'California', 'US', 38.3567123, -122.3226471)
(196, 350, 97, 'Merlot', 'Tua Rita', 'Tuscany', 'Italy', 43.0642242, 10.6915636)
(197, 130, 97, 'Sangiovese', 'Valdicava', 'Tuscany', 'Italy', 43.0769882, 11.4925928)
(198, 208, 97, 'Champagne Blend', 'Veuve Clicquot Ponsardin', 'Champagne', 'France', 48.2416458, 5.1187835)
(199, 150, 97, 'Tempranillo', 'ViÃƒÂ±edos de Paganos', 'Northern Spain', 'Spain', 42.5579071, -2.6056604)
(200, 130, 97, 'Nebbiolo', 'Vietti', 'Piedmont', 'Italy', 44.6245079, 7.9811249)
(201, 130, 97, 'Bordeaux-style Red Blend', 'Vieux ChÃƒÂ¢teau Certan', 'Bordeaux', 'France', 44.9271011, -0.1974)
(202, 150, 97, 'Cabernet Sauvignon', 'Vine Cliff', 'California', 'US', 38.4479027, -122.3482437)
(203, 250, 97, 'Riesling', 'Von Othegraven', 'Mosel-Saar-Ruwer', 'Germany', 49.6710892, 6.5805812)
(204, 100, 97, 'Red Blend', 'Von Strasser', 'California', 'US', 38.5878639, -122.5723419)
(205, 95, 97, 'Chardonnay', 'William FÃƒÂ¨vre', 'Burgundy', 'France', 47.8136597, 3.8039672)
(206, 50, 97, 'Chardonnay', 'Williams Selyem', 'California', 'US', 38.521183, -122.8661575)
(207, 59, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.521183, -122.8661575)
(208, 72, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.521183, -122.8661575)
(209, 75, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.521183, -122.8661575)
(210, 78, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.521183, -122.8661575)
(211, 82, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.521183, -122.8661575)
(212, 85, 97, 'Pinot Noir', 'Williams Selyem', 'California', 'US', 38.521183, -122.8661575)

In [ ]:
#final dataframe information

In [48]:
final_df[:1]

,price,points,variety,winery,province,country,lat,lng
0,85,97,Cabernet Sauvignon,Abeja,Washington,US,46.087349,-118.225523

In [20]:
len(final_df)

187

In [71]:
len(final_df)

187

In [72]:
final_df.shape

(187, 8)

In [74]:
final_df['points'].mean()

97.0

In [75]:
final_df['price'].min()

42

In [76]:
final_df['price'].max()

1100

In [77]:
final_df['price'].mean()

184.70053475935828

In [ ]:
#getting the unique wineries of the cleaned 97 point wine

In [63]:
final_df = pd.read_excel('final_cleaned_wine.xlsx')

In [64]:
final_df.head()

,price,points,variety,winery,province,country,lat,lng
0,85,97,Cabernet Sauvignon,Abeja,Washington,US,46.087349,-118.225523
1,130,97,Cabernet Sauvignon,Alpha Omega,California,US,38.470709,-122.428425
2,125,97,Sangiovese,Altesino,Tuscany,Italy,43.102726,11.491383
3,115,97,Red Blend,Antinori,Tuscany,Italy,43.612757,11.191307
4,90,97,Pinot Noir,Arista,California,US,38.524215,-122.867989

In [54]:
cleaned_df = pd.read_csv('cleaned_data.csv')

In [55]:
cleaned_df.head()

,Unnamed: 0,price,points,variety,winery,province,country,lat,lng
0,0,85,97,Cabernet Sauvignon,Abeja,Washington,US,NaN,NaN
1,1,130,97,Cabernet Sauvignon,Alpha Omega,California,US,NaN,NaN
2,2,125,97,Sangiovese,Altesino,Tuscany,Italy,NaN,NaN
3,3,115,97,Red Blend,Antinori,Tuscany,Italy,NaN,NaN
4,4,90,97,Pinot Noir,Arista,California,US,NaN,NaN

In [56]:
cleaned_df['winery'].nunique()

131

In [59]:
new_df = cleaned_df[['winery','province','country']]

In [60]:
new_df.head()

        winery    province country
0        Abeja  Washington      US
1  Alpha Omega  California      US
2     Altesino     Tuscany   Italy
3     Antinori     Tuscany   Italy
4       Arista  California      US

In [61]:
new_df = new_df.drop_duplicates()

In [62]:
new_df.head()

        winery    province country
0        Abeja  Washington      US
1  Alpha Omega  California      US
2     Altesino     Tuscany   Italy
3     Antinori     Tuscany   Italy
4       Arista  California      US

In [63]:
len(new_df)

132

In [64]:
new_df.to_csv('unique_wineries.csv')

In [ ]:
#reading in lat and lon and adding to the cleaned dataframe

In [73]:
df1 = pd.read_excel("wineries_lat_lon.xlsx")

In [74]:
df1.head()

        winery    province country        lat        lng
0        Abeja  Washington      US  46.087349 -118.225523
1  Alpha Omega  California      US  38.470709 -122.428425
2     Altesino     Tuscany   Italy  43.102726   11.491383
3     Antinori     Tuscany   Italy  43.612757   11.191307
4       Arista  California      US  38.524215 -122.867989

In [76]:
cleaned_df.head()

,Unnamed: 0,price,points,variety,winery,province,country,lat,lng
0,0,85,97,Cabernet Sauvignon,Abeja,Washington,US,NaN,NaN
1,1,130,97,Cabernet Sauvignon,Alpha Omega,California,US,NaN,NaN
2,2,125,97,Sangiovese,Altesino,Tuscany,Italy,NaN,NaN
3,3,115,97,Red Blend,Antinori,Tuscany,Italy,NaN,NaN
4,4,90,97,Pinot Noir,Arista,California,US,NaN,NaN

In [78]:
final_df = cleaned_df.drop('Unnamed: 0',axis=1)

In [79]:
final_df.head()

,price,points,variety,winery,province,country,lat,lng
0,85,97,Cabernet Sauvignon,Abeja,Washington,US,NaN,NaN
1,130,97,Cabernet Sauvignon,Alpha Omega,California,US,NaN,NaN
2,125,97,Sangiovese,Altesino,Tuscany,Italy,NaN,NaN
3,115,97,Red Blend,Antinori,Tuscany,Italy,NaN,NaN
4,90,97,Pinot Noir,Arista,California,US,NaN,NaN

In [108]:
for index,row in df1.iterrows(): 
    winery_name = row['winery']
    
    print(winery_name)
    
    print(df1[df1['winery']==winery_name]['lat'][index])

    final_df.loc[final_df['winery']==winery_name,'lat'] = df1[df1['winery']==winery_name]['lat'][index]
    final_df.loc[final_df['winery']==winery_name,'lng'] = df1[df1['winery']==winery_name]['lng '][index]

Abeja
46.0873489602166
Alpha Omega
38.4707094777284
Altesino
43.1027255427756
Antinori
43.612757325108
Arista
38.5242147453319
Arkenstone
38.5649955305371
Au Sommet
38.4435234096784
Avignonesi
43.1741913128998
Betz Family
47.7192433310932
Black Coyote
38.3197790333064
Blackbird Vineyards
38.2994600250118
Bodega Catena Zapata
-33.1666861432268
Bodegas Gutiérrez de la Vega
39.6823915177437
Bodegas Roda
42.5858590001005
Bollinger
49.0781846194874
BOND
38.5109750961266
Buty
46.0878024522818
Campbells
-36.0608846049158
Capanna
43.9834924014435
Cardinale
38.9218981494947
Casanova di Neri
43.0579881027584
Castello di Ama
43.4422722191941
Caymus
38.470398171495
Cayuse
45.9622953093802
ChÃƒÂ¢teau Cos d'Estournel
45.2314940192981
ChÃƒÂ¢teau Figeac
44.9135321559491
ChÃƒÂ¢teau Haut-Brion
44.811660251275
ChÃƒÂ¢teau La Mission Haut-Brion
44.8169460592202
ChÃƒÂ¢teau LÃƒÂ©oville Las Cases
45.1646973064646
ChÃƒÂ¢teau Lafite Rothschild
45.2258293231605
ChÃƒÂ¢teau Latour
42.7677812332157
ChÃƒÂ¢teau Margaux
45.0460346208881
ChÃƒÂ¢teau Suduiraut
44.5569363002945
ChÃƒÂ¢teau Troplong Mondot
44.890129456393
Chambers Rosewood Vineyards
-36.0439542880252
Charles Smith
47.6927087985906
Cobb
38.397825878529
Continuum
38.4837195099194
Diamond Creek
38.5656461383759
Domaine Bruno Clair
47.2726857149868
Domaine de Chevalier
44.7205124304776
Domaine Jamet
45.5165415179238
Domaine Leflaive
46.3824382451663
Domaine Zind-Humbrecht
48.0843156429793
Dr. Pauly Bergweiler
49.9153786968996
Dutton-Goldfield
38.4379617736091
Emilio Moro
41.6435829952424
Failla
38.5490240111137
Fattoria Petrolo
43.4714768151736
Flowers
38.5649517927774
Gaja
44.7261291862153
Gandona
38.4836569415661
Geh. Rat Dr. von Bassermann-Jordan
49.4086564911098
Goldeneye
39.0583025556884
Goldschmidt
38.6739968629096
Harlan Estate
38.4212115259123
Henriot
52.9045924117401
Hestan
38.4036213690994
Iron Horse
38.4569231222138
Janzen
38.4666186328531
Jarvis
38.3555672008683
JCB
38.4053710371805
Joseph Drouhin
47.0260954941425
Joseph Phelps
38.5033125644059
Joseph Swan Vineyards
38.4838803582245
K Vintners
46.0860117407432
Ken Wright
45.2950900390153
Kendall-Jackson
38.5073438823521
Kracher
47.7453855885246
Krutz
38.4721239552564
Lancaster
38.6262512432729
Le Macchiole
43.2083088431978
Leonetti Cellar
46.0568155996933
Livio Felluga
45.973063915622
Louis Jadot
47.0381345156291
Louis Roederer
49.260071303758
Luce della Vite
43.0392980025601
Lynmar
38.4427746287732
Marchesi Antinori
43.6156270969017
Marchesi de' Frescobaldi
43.6717161419753
Masseto
43.1602982791948
Melville
34.7426009271817
Merry Edwards
38.4354847479394
Napa Angel
38.3692899707841
Niebaum-Coppola
38.4503252840415
Niepoort
41.1490387759659
Ornellaia
43.2142370065057
Ovid
38.4615231294867
Paul Hobbs
38.4405841385062
Penfolds
-34.4420777224266
Pol Roger
49.0406709064883
Quilceda Creek
47.9492768880474
Quinta do Vale MeÃƒÂ£o
41.1544082557347
QupÃƒÂ©
38.513201063405
Ramey
38.6041127727128
Redmon
38.5005912897911
Ridge
37.351177144931
Robert Weil
50.0416009054317
Rochioli
38.5359047687138
Salon
48.9465976664294
San Vicente
42.5641708144886
Schloss Johannisberger
50.000523296405
Schramsberg
38.5501859897182
Sea Smoke
34.681596276019
Semper
38.5824620999258
Sequana
38.4077774546942
Shafer
38.4216931251306
Signorello
38.37127037175
Spottswoode
38.5005817321312
Stag's Leap Wine Cellars
38.4147080675745
Stonestreet
38.663218990047
Talley
35.1794569406342
Taylor Fladgate
41.134468929983
Tenuta dell'Ornellaia
43.0463526144012
Tenuta San Guido
43.2324150485208
Teso La Monja
41.4556449615068
The Maiden
43.2324072316919
Torbreck
-34.4763178915834
Trefethen
38.3567111356799
Tua Rita
43.0642245268753
Valdicava
43.0769899424337
Veuve Clicquot Ponsardin
48.2416458252331
Bodega Viñedos De Paganos
42.5546776466113
Vietti
44.6245072618675
Vieux ChÃƒÂ¢teau Certan
44.9270654048675
Vine Cliff
38.4479042125156
Von Othegraven
49.6710892995352
Von Strasser
38.5878638536726
Vieux Chateau Certan
44.9269970400747
Williams Selyem
38.5211829637262
Yao Ming
38.2884451068962

In [110]:
final_df

,price,points,variety,winery,province,country,lat,lng
0,85,97,Cabernet Sauvignon,Abeja,Washington,US,46.087349,-118.225523
1,130,97,Cabernet Sauvignon,Alpha Omega,California,US,38.470709,-122.428425
2,125,97,Sangiovese,Altesino,Tuscany,Italy,43.102726,11.491383
3,115,97,Red Blend,Antinori,Tuscany,Italy,43.612757,11.191307
4,90,97,Pinot Noir,Arista,California,US,38.524215,-122.867989
...,...,...,...,...,...,...,...,...
182,82,97,Pinot Noir,Williams Selyem,California,US,38.521183,-122.866156
183,85,97,Pinot Noir,Williams Selyem,California,US,38.521183,-122.866156
184,95,97,Pinot Noir,Williams Selyem,California,US,38.521183,-122.866156
185,125,97,Pinot Noir,Williams Selyem,California,US,38.521183,-122.866156
186,625,97,Cabernet Sauvignon,Yao Ming,California,US,38.288445,-122.289419

In [112]:
final_df.to_csv('final_cleaned_wine.csv')

In [90]:
final_df.columns

Index(['price', 'points', 'variety', 'winery', 'province', 'country', 'lat',
       'lng'],
      dtype='object')

In [91]:
cleaned_df.columns

Index(['Unnamed: 0', 'price', 'points', 'variety', 'winery', 'province',
       'country', 'lat', 'lng'],
      dtype='object')

In [ ]:
#exporting the final dataframe as a CSV